.aboutContainer {
  background-color: var(--light-purple);
  padding: 50px 10%;
}

.officersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 50px 20px;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;*/
}

.officersTitle {
  color: var(--gold);
  -webkit-text-stroke: 1px var(--purple);
  margin-bottom: 0px;
}

.officersSubtitle {
  color: var(--purple);
  margin-top: 15px;
}