.calendar {
  text-align: center;
}

.calendar iframe {
  width: 100%;
  min-height: 600px;
  height: 800px;
}

.calendarContainer {
  background-image: url("../assets/swe_bug_pattern_purple.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 5%;
 }

.calendarBody {
  background-color: var(--light-purple);
  padding: 2.5%;
}

.titleText {
  text-align: center;
  color: var(--purple);
}

.eventIcon {
  width: 150px;
  height: auto;
  padding: 20px;
  filter: invert(34%) sepia(8%) saturate(2093%) hue-rotate(215deg) brightness(93%) contrast(84%);
}

.iconContainer {
  flex: 1;
}
 
.iconsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  text-align: center;
  margin: 50px 70px;
}

.iconLabels {
  padding: 0px;
  margin: 0px;
  color: var(--purple);
}

.divider {
  border: 1px solid var(--gold);
  width: 150px;
}