.calendar {
  text-align: center;
}

.calendar iframe {
  width: 100%;
  max-width: 1000px;
  min-height: 600px;
  height: 800px;
}

.calendarContainer {
  background-repeat: no-repeat;
  background-size: auto;
 }

.calendarBody {
  background-position: center;
  background-attachment: fixed;
}

.titleText {
  text-align: center;
  margin-bottom: 40px;
}

.eventIcon {
  width: 100px;
  height: auto;
  padding: 20px 20px;
}

.iconContainer {
  flex: 1;
}
 
.iconsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  text-align: center;
  margin: 50px 70px;
}

.iconLabels {
  padding: 0px;
  margin: 0px;
  font-weight: 600;
}

.iconLink {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .calendarBody  {
    background-attachment: scroll;
  }
}