.calendar {
  text-align: center;
}

.calendar iframe {
  width: 100%;
  max-width: 1000px;
  min-height: 600px;
  height: 800px;
}

.calendarContainer {
  background-repeat: no-repeat;
  background-size: auto;
 }

.calendarBody {
  background-position: center;
  background-attachment: fixed;
}

@media screen and (max-width: 600px) {
  .calendarBody  {
    background-attachment: scroll;
  }
}