.membershipBody {
  padding-bottom: 40px;
}

.separator {
  margin: 0px;
  padding-left: 70px;
}

.gallery {
  margin: 0px 30px;
  padding: 10px;
  background-color: white
}

.eventSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.resourcesContainer {
  display: flex;
  flex-direction: row;
  margin-top: -20px;
}

.generalLinks {
  flex: 1;
  padding-right: 30px;
}

.otherOrganizations {
  flex: 1.3;
}

@media screen and (max-width: 800px) {
  .resourcesContainer {
    display: flex;
    flex-direction: column;
  }
  
  .generalLinks {
    flex: 1;
    padding-right: 0px;
  }
  
  .otherOrganizations {
    flex: 1;
  }

}

.beeImg {
  width: 170px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .beeImg {
    display: none;
  }
}

.beeImgContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: -15px;
}