.membershipLi {
  color: var(--dark-gray);
}

.membershipSubLi {
  color: var(--dark-gray);
}

.membershipTitle {
  color: var(--purple);
}

.membershipSubtitle {
  color: var(--medium-purple);
}

.membershipBody {
  color: var(--dark-gray);
  padding-bottom: 15px;
}

.programContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 80px 0px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.programImg {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.pgLeftText {
  text-align: center;
  padding-right: 50px;
}

.pgRightText {
  text-align: center;
  padding-left: 20px;
}

.programText {
  min-width: 450px;
}

@media screen and (max-width: 1000px) {
  .programText {
    min-width: 300px;
  }

}

@media screen and (max-width: 800px) {
  .programContainer {
    flex-direction: column;
  }

  .pgLeftText {
    text-align: left;
    width: 100%;
    padding-right: 0px;
  }
  
  .pgRightText {
    text-align: left;
    width: 100%;
    padding-left: 0px;
  }
}