.membershipLi {
  color: var(--dark-gray);
}

.membershipSubLi {
  color: var(--dark-gray);
}

.membershipTitle {
  color: var(--purple);
}

.membershipSubtitle {
  color: var(--medium-purple);
}

.membershipBody {
  color: var(--dark-gray);
  padding-bottom: 15px;
}