.welcome {
    text-align: center;
    color: var(--purple);

}

.welcomebody {
    text-align: center;
    color: var(--dark-gray);
}

.homegears {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.introvideo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    width: 100%;

}

.afterswe {
    text-align: center;
    color: var(--medium-purple);
}

.upcomingEventsContainer {
    margin: 70px 0px;
    text-align: center;
}

.upcomingEventsTitle {
  color: var(--purple);
}

.upcomingEventsSummary {
  color: var(--dark-gray);
}

.upcomingEventsTime {
  color: var(--dark-gray);
}

.eventsContainer {
  margin: 20px 0px;
}

.eventCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 15px auto;
  padding: 10px;
  width: 55%;
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  .eventCard {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .eventCard {
    width: 80%;
  }
}