.welcome {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    font-weight: 900;
    animation: textAnimation 1s linear;
    color: #5A5377;

}

.welcomebody {
    text-align: center;

}

.homegears {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.introvideo {
    display:block;
    margin-left: auto;
    margin-right: auto;

}

.afterswe {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    font-weight: 700;
    animation: textAnimation 1s linear;
    color: #5A5377;
}