.welcome {
    text-align: center;
}

.homeDivider {
  margin: 30px auto;
}

.welcomebody {
    text-align: center;
}

.welcomeContainer {
  margin-bottom: 50px;
}

.homeGallery {
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.homeGallery div {
  width: 50%;
  height: 300px;
}

@media screen and (max-width: 720px) {
  .homeGallery div {
    width: 100%;
  }
}

.galleryImg {
  margin: 20px;
  object-fit: cover;
  object-position: center;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.homegears {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.introvideo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    width: 100%;

}

.afterswe {
    text-align: center;
    color: var(--medium-purple);
}

.upcomingEventsContainer {
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.eventsContainer {
  margin: 30px 0px;
}

.eventCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 15px auto;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .eventCard {
    width: 400px;
    max-width: 100%;
  }
}