.outreachContainer {
  margin: 100px;
}

.outreachHeader {
  background-color: var(--light-purple);
  padding: 100px;
}

.outreachText {
  font-family: "Merriweather";
  font-size: 25px;
  color: var(--purple);
  background-color: white;
  padding: 25px;
}
  
.outreachBorder {
  background-image: url("../assets/swe_bug_pattern_purple.png");
  padding: 20px;
}