.outreachContainer {
  margin: 8%;
  max-width: 900px;

}

.outreachHeader {
  background-color: var(--light-purple);
  padding: 8%;
}

.outreachText {
  font-family: "Merriweather";
  font-size: 25px;
  color: var(--dark-gray);
  background-color: white;
  padding: 25px;
}
  
.outreachBorder {
  background-image: url("../assets/swe_bug_pattern_purple.png");
  padding: 2%;
}