/*
#outreach-title-right {
    text-align: right;
    display: block;
    margin-left: 900px;
    margin-top: 100px;
    position: absolute;
    font-size: 50px;
  }
  
  #outreach-title-left {
    text-align: left;
    display: block;
    margin-left: 650px;
    font-size: 50px;
    position: absolute;
  }
  
  .EdgeContainer {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
    position: relative;
    top: 50px;
    left: 10px;
  }
  
  .EnvisionContainer {
    margin-top: auto;
    margin-left: 70px;
    margin-right: 70px;
    float: right;
    position: relative;
    top: 900px;
  }
  */
  .Merriweather {
    font-family: 'Merriweather', serif;
  }

  .imgDesign {
    border-Style: solid;
    border-Color: #c4c4c4;
    border-Width: 20px;
    border-radius: 25px;
    width: 100%;
    height: auto;
    box-shadow: -20px -20px #5e537b;
    text-align: left;
  }
    
  .Left {
    text-align: left;
    background-color: white;
    padding: 10px;
  }
  
  .Right {
    text-align: right;
    background-color: white;
    padding: 10px;
  }
  
 