.sponsorsHeader {
  margin: 50px;
}

.sponsorstitle {
  color: var(--purple);
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 100px;
  margin-bottom: 70px;
}

.sponsorImgContainer {
  text-align: center;
}

.SponsorshipContainer {
  background-color: #FFFFFF;
  padding: 30px;
  display: grid;
  margin: 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 62px;
}