.sponsorImgContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsorshipContainer {
  display: grid;
  margin: 80px 0px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  column-gap: 40px;
  row-gap: 80px;
}