.sponsorImgContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsorImgContainer img {
  border-radius: 15px;
}

.SponsorshipContainer {
  background-color: #FFFFFF;
  display: grid;
  margin: 80px 0px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 50px;
}