.sweButton {
  background-color: var(--purple);
  font-weight: 600;
  border: 3px solid var(--purple);
  padding: 10px;
  border-radius: 0px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.primaryBtn {
  color: white;
}

.secondaryBtn {
  color: var(--light-purple);
}

.sweButton:hover {
  color: var(--purple);
}

.sweButton::after {
  transition: all 0.35s;
  content: "";
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

.primaryBtn::after {
  background: white;
}

.secondaryBtn::after {
  background: var(--light-purple);
}

.sweButton:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}