button {
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-family: var(--primary-font);
  font-size: 1.1em;
  font-weight: 500;
  transition: all 0.35s;
  color: var(--button-color);
  background-color: var(--button-bgColor);

  span {
    position: relative;
    z-index: 2;
  }

  img {
    width: 1em;
    height: 1em;
    padding: 0;
    margin: -2em 0.5em 0 0;
  }
}

button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.35s;
  background-color: var(--button-color);
}

button:hover:after{
  width: 100%;
}


button:hover {
  color: var(--button-bgColor);
  background-color: var(--button-color);
}


@media screen and (max-width: 1000px) {
  button {
    padding: 0.3em 0.5em;
    font-size: 1em;
  }
}