.footer {
  background-color: var(--purple);
  height: auto;
  color: white;
  text-align: center;
  padding: 20px;
}

.icon {
  width: 40px;
  margin: 10px 25px;
  height: auto;
  filter: invert(100%);
}