.footer {
  background-color: #5e537b;
  width: 100%;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
}

.icon {
  width: 50px;
  margin: 10px;
  height: auto;
  padding: 20px;
  filter: invert(100%);
}