.footer {
  background-color: var(--purple);
  height: auto;
  color: white;
  text-align: center;
  padding: 20px;
}

.icon {
  width: 40px;
  margin: 10px 25px;
  height: auto;
  filter: invert(100%);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 0px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}