.headerImg {
  min-height: 750px;
  background-image: url("https://i.imgur.com/MgNHcA4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position:relative;
}

.overlay:before {
  content:"";
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  background: #403165;
  opacity: 0.8;
  z-index: 1;
}

.textContainer {
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -35%);
  z-index: 2;
  width: 95vw;
  color: #eee;
}

@media screen and (max-width: 600px) {
  .headerImg {
    background-attachment: scroll;
  }
}
