.image {
  min-height: 750px;
  background-image: url("https://i.imgur.com/MgNHcA4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  background-color: var(--purple);
  opacity: 80%;
  z-index: 1;
}

.textContainer {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

@media screen and (max-width: 480px) {
  .image {
    min-height: 750px;
    background-image: url("https://i.imgur.com/MgNHcA4.jpg");
    background-attachment: scroll;
  }
}