.navContainer {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  background-color: white;
  opacity: 0.98;
}

.topNav {
  max-width: calc(var(--max-width) + 300px);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px 3%;
  max-height: 30vh;
}

.rightNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.8em;
}

.hamburgerContainer {
  display: none;
}

/* Style the links inside the navigation bar */
.link {
  flex: 1;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--purple);
  padding: 14px 10px;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
}

/* Change the color of links on hover */
.link:hover {
  color: var(--gold);
}

/* Add an active class to highlight the current page */
.link.active {
  color: var(--gold);
}

.logo {
  width: 100px;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  cursor: pointer;
}

.sideNavClosed {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-start;
  max-height: 0px;
  transition: max-height 0.2s;
}

.sideLink {
  display: none;
}

@media screen and (max-width: 1200px) {
  .rightNav {
    gap: 0.5em;
  }
  .navButtons {
    gap: 0.5em;
  }
}

@media screen and (max-width: 1000px) {
  .sideNav {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-start;
    max-height: 400px;
    transition: max-height 0.7s;
    overflow: auto;
  }

  .sideNavClosed .sideLink {
    visibility: hidden;
  }

  .sideLink {
    visibility: visible;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--purple);
    padding: 14px 25px;
    text-decoration: none;
    font-weight: 600;
  }

  .sideLink:hover {
    color: var(--gold);
  }

  /* Add an active class to highlight the current page */
  .sideLink.active {
    color: var(--gold);
  }

  .link {
    display: none;
  }

  .hamburgerContainer {
    display: inline-block;
    border: none;

    cursor: pointer;
    background-color: white;
  }

  .hamburger {
    width: 32px;
    height: 18px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--purple);
    border-radius: 12px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    top: 0%;
  }

  .hamburger span:nth-child(2),
  .hamburger span:nth-child(3) {
    top: 50%;
  }

  .hamburger span:nth-child(4) {
    top: 100%;
  }

  .hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

@media screen and (max-height: 400px) {
  .sideNav {
    max-height: 65vh;
  }
}
