/* Add a black background color to the top navigation */
.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  padding: 10px 3%;
  align-items: center;

}

.sideNav {
  display: none;
}

@media screen and (max-width: 950px) {
  .sideNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-start;
  }

  .sideNav .sideLink {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--purple);
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
  }

  .sideLink:hover {
    color: var(--gold);
  }
  
  /* Add an active class to highlight the current page */
  .sideLink.active {
    color: var(--gold);
  }

  .topNav .link {
    display: none;
  }

  .topNav .hamburgerContainer {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
  }

  .topNav .hamburgerContainer .hamburger {
    width: 40px;
    filter: invert(34%) sepia(8%) saturate(2093%) hue-rotate(215deg) brightness(93%) contrast(84%);
    height: auto;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.hamburgerContainer {
  display: none;
}

/* Style the links inside the navigation bar */
.link {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--purple);
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.link:hover {
  color: var(--gold);
}

/* Add an active class to highlight the current page */
.link.active {
  color: var(--gold);
}

.logo {
  width: 120px;
  height: auto;
  padding-right: 50px;
  cursor: pointer;
}