.officerCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 275px;
}

.officerImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  padding: 3px;
  margin: 20px;
  box-shadow: 0 0 0 3px var(--purple);
}

.officerName {
  margin-bottom: 10px;
  color: var(--purple);
}

.officerPosition {
  margin-top: 0px;
  color: var(--dark-gray);
}