.outreachCardContainerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.outreachCardContainerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.outreachCard {
  margin: 100px 0px;
}

.labelLeft { /* edge */
  color: var(--medium-purple);
  margin: 7px;
  text-align: left;
  padding-left: 50px;
}
  
.labelRight { /* envision */
  color: var(--medium-purple);
  margin: 7px;
  text-align: right;
  padding-right: 50px;
}

.outreachDescription {
  color: var(--dark-gray);
}

.imgContainer {
  position: relative;
  display: inline-block;
}

.Left_gears {
  width: 17%;
  position: absolute;
  top: -13%;
  left: 96%;
  z-index: 2;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
  
.Right_gears {
  width: 17%;
  position: absolute;
  top: -14%;
  left: -13%;
  z-index: 2;
}

.leftImgDesign {
  width: 100%;
  height: auto;
  /*border-style: solid;
  border-color: var(--gray);
  border-width: 15px;*/
  border-radius: 15px;
  box-shadow: -10px -10px var(--purple);
}

.rightImgDesign {
  width: 100%;
  height: auto;
  /*border-style: solid;
  border-color: var(--gray);
  border-width: 15px;*/
  border-radius: 15px;
  box-shadow: 10px -10px var(--purple);
}

@media screen and (max-width: 600px) {
  .outreachCardContainerRight {
    flex-direction: column;
  }
  
  .outreachCardContainerLeft {
    flex-direction: column;
  }

  .Left_gears {
    display: none;
  }

  .Right_gears {
    display: none;
  }

  .labelLeft { /* edge */
    text-align: center;
    padding-left: 0px;
  }
    
  .labelRight { /* envision */
    text-align: center;
    padding-right: 0px;
  }
}
