.outreachCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outreachCard {
  margin: 100px 0px;
}

.labelLeft { /* edge */
  color: var(--purple);
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  margin: 7px;
  text-align: left;
  padding-left: 50px;
}
  
.labelRight { /* envision */
  color: var(--purple);
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  margin: 7px;
  text-align: right;
  padding-right: 50px;
}

.outreachDescription {
  color: var(--purple);
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
}

  .imgContainer {
    position: relative;
    display: inline-block;
  }

  .Left {
    text-align: left;
  }
    
  .Right {
    text-align: right;
  }

  .Left_gears {
    width: 30%;
    position: absolute;
    top: -18%;
    left: 90%;
    z-index: 100;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .Right_gears {
    width: 30%;
    position: absolute;
    top: -17%;
    left: -18%;
    z-index: 100;
  }

  .leftImgDesign {
    width: 100%;
    height: auto;
    /*border-style: solid;
    border-color: var(--gray);
    border-width: 15px;*/
    border-radius: 15px;
    box-shadow: -10px -10px var(--purple);
  }

  .rightImgDesign {
    width: 100%;
    height: auto;
    /*border-style: solid;
    border-color: var(--gray);
    border-width: 15px;*/
    border-radius: 15px;
    box-shadow: 10px -10px var(--purple);
  }
