.outreachCard {
  margin: 3em 0px;
  border-radius: 2em;
  background-color: white;
  height: 22em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.outreachCard.imageFirst {
  flex-direction: row-reverse;
}

.outreachImage {
  width: 55%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2em 0 0 2em;
  flex-shrink: 0;
}

.outreachImage.imageFirst {
  border-radius: 0 2em 2em 0;
}

.outreachText{
  color: var(--medium-purple);
  margin: -2em 2em 0;
  padding: 0;
  text-align: right;
}

.outreachText.imageFirst {
  text-align: left;
}

.outreachDivider {
  margin-top: -1em;
  margin-right: 0;
}

.outreachDivider.imageFirst {
  margin-left: 0;
}


@media screen and (max-width: 600px) {
  .outreachCardContainerRight {
    flex-direction: column;
  }
  
  .outreachCardContainerLeft {
    flex-direction: column;
  }

  .labelLeft { /* edge */
    text-align: center;
    margin-right: 0px;
  }
    
  .labelRight { /* envision */
    text-align: center;
    margin-left: 0px;
  }

  .outreachDividerLeft {
    margin-left: auto;
  }
  
  .outreachDividerRight {
    margin-right: auto;
  }
  
}
