.programContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2em 0;
  background-color: white;
  padding: 0;
  border-radius: 2em;
}

.programText {
  text-align: left;
  padding: 0 2em;
  h6 {
    margin-top: 0;
  }
  .programDivider {
    margin-left: 0;
    margin-top: -2em;
  }
  p {
    padding-right: 2em;
  }
  .programBtn {
    margin-bottom: 0px;
  }
}

.programImg {
  width: auto;
  height: 20em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1000px) {
  .programText {
    min-width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .programContainer {
    flex-direction: column;
  }

  .programBtn {
    margin-bottom: 20px;
  }

  .pgLeftText {
    width: 100%;
    padding-right: 0px;
  }

}
