.programContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 80px 0px;
  background-color: white;
  padding: 30px 40px;
  border-radius: 5px;
}

.programImg {
  width: 400px;
  height: auto;
  border-radius: 5px;
}

.programBtn {
  margin-bottom: 0px;
}

.programDivider {
  margin-left: 0;
}

.pgLeftText {
  justify-self: left;
  text-align: left;
  padding-right: 50px;
}

.pgRightText {
  text-align: center;
  padding-left: 20px;
}

@media screen and (max-width: 1000px) {
  .programText {
    min-width: 300px;
  }

}

@media screen and (max-width: 800px) {
  .programContainer {
    flex-direction: column;
  }

  .programBtn {
    margin-bottom: 20px;
  }

  .pgLeftText {
    width: 100%;
    padding-right: 0px;
  }
  
  .pgRightText {
    width: 100%;
    padding-left: 0px;
  }

}
