.projectContainer {
  margin: 30px 0px;
}

.project {
  background-color: white;
  color: var(--dark-gray);
  padding: 25px;
  box-shadow: 6px 6px var(--medium-purple);
  border-radius: 10px;
}

.projLabelLeft {
  color: var(--purple);
  margin: 7px;
  text-align: left;
}

.projLabelRight {
  color: var(--purple);
  margin: 7px;
  text-align: right;
}