:root {
  --purple: #5e537b;
  --gold: #dfc536;
  --gray: #aaa9aa;
  --dark-gray: #52575a;
  --light-purple: #d8d2ea;
}

.App {
  text-align: center;
}

.Caveat {
  font-family: 'Caveat', cursive;
}

.Merriweather {
  font-family: 'Merriweather', serif;
}

.OpenSans {
  font-family: 'Open Sans', sans-serif;
}
