:root {
  --purple: #5A5377;
  --gold:  #DBC554;
  --gray: #A9A8A9;
  --dark-gray: #545759;
  --light-purple: #d8d2ea;
  --medium-purple: #7D6890;
}

.margin {
  padding: 50px 8%;
  overflow: auto;
}

/* mobile */
html {
  font-size: 14px;
}

@media screen and (max-width: 280px) {
  .margin {
    word-wrap: break-word;
  }
}

/* tablets */
@media screen and (min-width: 480px) {
  html {
    font-size: 15px;
  }
}

/* laptops */
@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .margin {
    padding: 50px 10%;
  }
}

@media screen and (min-width: 1300px) {
  .margin {
    padding: 50px calc((100vw - 1100px)/2);
  }
}

.h1 {
  font-family: 'Merriweather', serif;
  font-size: 5rem;
  font-weight: 900;
}

.h2 {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  font-weight: 900;
  margin: 20px 0px;
}

.h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 2.2rem;
}

.h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
}

.h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

.h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
}

.p1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8rem;
}


.p2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.em {
  font-family: 'Caveat', cursive;
  font-size: 1.3rem;
  font-weight: 400;
}

.clickableLink {
  color: var(--gold);
}
